<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Animals

    <a data-toggle="collapse" href="#animal_type_animals_new_form">
      Add animal
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @animal_type.animals.each do |animal| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to animal, animal %>

        <%= link_to animal, method: :delete, data: { confirm: "Do you really want to delete this animal" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="animal_type_animals_new_form">
        <%= render partial: "animal_types/animal_type_animals_new_form" %>
      </div>
    </div>

  </ul>
</div>
